.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.spinner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #204963;
}
.loginForm {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}
.loginChild {
  margin-top: 20px;
  overflow: hidden;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.parentForm {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 20px;
  overflow: hidden;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
